<!DOCTYPE html>
<html lang="en">
<head>

<title>Lytra</title>




<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />
<link rel="stylesheet" href="css/main.css" />
<link rel="shortcut icon" href="../favicon.ico" />
<link rel="stylesheet" type="text/css" href="css/style3.css" />
<link rel="stylesheet" type="text/css" href="css/slider/style.css" />
<script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
</head>

<body>
	<div class="wrapper">
		<div class="box">
			<div class="row">
				<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/lytra">Lytra</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">				
				<li id="home" class="${active == 'home' ? 'active' : ''}"><a
					href="/lytra">Home</a></li>
				<li id="about" class="${active == 'about' ? 'active' : ''}"><a
					href="/lytra/about">About</a></li>
				<li id="services" class="${active == 'services' ? 'active' : ''}"><a
					href="#">Services</a></li>
				<li id="gallery" class="${active == 'gallery' ? 'active' : ''}"><a
					href="/lytra/gallery">Gallery</a></li>
				<li id="blog" class="${active == 'blog' ? 'active' : ''}"><a
					href="/lytra/blog">Blog</a></li>
				<li id="contacts" class="${active == 'contacts' ? 'active' : ''}"><a
					href="#">Contacts</a></li>
				
				<li><a href="/lytra/dashboard" th:if="${sessionScope} != null">Dashboard</a></li>
								
								
					<li id="contacts" class="${active == 'contacts' ? 'active' : ''}">
						<a href="/lytra/photos" th:if="${session.USER_OBJECT} != null and ${session.USER_OBJECT.photos} > 0">My Photos</a>
					</li>
				
			</ul>
			<ul class="nav navbar-nav">
				
				<!-- <li><a href="#">Logged in as: ${sessionScope.USER_OBJECT.username}</a></li> -->
				<li><a href="#" th:if="${session.USER_OBJECT} != null" th:text="${session.USER_OBJECT.username}">Logged in as : </a></li> 				
				 <!-- <p th:if="${session.USER_OBJECT} != null" th:text="${session.USER_OBJECT.photos}" /> --> 
				<li class="active" th:if="${session.USER_OBJECT} != null"><a href="/logout">Logout</a></li>
				
			</ul>
			<c:if test="${sessionScope.USER_OBJECT eq null}">
				<form class="navbar-form navbar-right" role="form" onsubmit="return false;" id="login-form" th:if="${session.USER_OBJECT} == null">
					<div class="form-group">
						<input type="text" placeholder="Email" class="form-control"	name="username" /> 
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" class="form-control" name="password" />
					</div>
					<button type="submit" class="btn btn-success" id="login-submit">Sign in</button>
				</form>
			</c:if>
		</div>
		<!--/.navbar-collapse -->
	</div>
</div>
			<!-- sidebar -->
		<div class="column col-sm-2 opaqueOff" id="sidebar">
			<ul class="nav">
				<li><img src="img/alpha/logo.png" class="img-responsive" alt="Responsive image" /></li>
				<li>
					<div class="text-center opaqueOff">
						<h2>(513) 445 - 9872</h2>
					</div>

				</li>
				
				<li class="center-block">
					<div>
						<a href="https://www.facebook.com/lytra.me" target="_blank">
							<img src="img/alpha/facebook_white.png" alt=""
							class="socialMediaButtonGeneral opaque pull-left" />
						</a>
					</div>
					<div>
						<a href="#" target="_blank"><img
							src="img/alpha/twitter-bird-white-on-blue.png" alt=""
							class="socialMediaButtonGeneral opaque pull-left" /></a>
					</div>
					<div>
						<a href="#" target="_blank"><img
							src="img/alpha/pinterest_badge_white.png" alt=""
							class="socialMediaButtonGeneral opaque pull-left" /></a>
					</div>
					<div>
						<a href="#" target="_blank"><img src="img/alpha/g+icon.png"
							alt="" class="socialMediaButtonGeneral opaque pull-left" /></a>
					</div>
					<div>
						<a href="#" target="_blank"><img
							src="img/alpha/InBug-60px-TM.png" alt=""
							class="socialMediaButtonLinkedIn opaque pull-left " /></a>
					</div>
					
				</li>
		
			</ul>
			
			<ul class="nav hidden-xs" id="sidebar-footer">
				<li>
					
					<img src="img/alpha/lytra-cup.png" class="lytra-cup opaque" alt="Responsive image" />
				</li>
			</ul>
		</div>
		<!-- /sidebar -->
<!-- 
<div class="sidebar opaque black left clearfix">
	<div>
		<img src="img/alpha/lytra-cup.png" alt=""
			class="lytra-cup" />
	</div>
	<div class="number opaqueOff">(513) 445 - 9872</div>
	<div class="socialMediaButtons clearfix">
		<div>
			<a href="https://www.facebook.com/lytra.me" target="_blank"><img
				src="img/alpha/facebook_white.png" alt=""
				class="socialMediaButtonGeneral opaqueOff left" /></a>
		</div>
		<div>
			<a href="#" target="_blank"><img
				src="img/alpha/twitter-bird-white-on-blue.png" alt=""
				class="socialMediaButtonGeneral opaqueOff left" /></a>
		</div>
		<div>
			<a href="#" target="_blank"><img
				src="img/alpha/pinterest_badge_white.png" alt=""
				class="socialMediaButtonGeneral opaqueOff left" /></a>
		</div>
		<div>
			<a href="#" target="_blank"><img src="img/alpha/g+icon.png"
				alt="" class="socialMediaButtonGeneral opaqueOff left" /></a>
		</div>
		<div>
			<a href="#" target="_blank"><img
				src="img/alpha/InBug-60px-TM.png" alt=""
				class="socialMediaButtonLinkedIn opaqueOff left" /></a>
		</div>
	</div>
	<div>
		<img src="img/alpha/logo.png" alt="" class="logo" />
	</div>
</div> -->
				<!-- main -->
				<div class="column col-sm-10" id="main">
					<ul class="cb-slideshow">
	<li><span>Image 01</span>
		<div>
			<h3>re·lax·a·tion</h3>
		</div></li>
	<li><span>Image 02</span>
		<div>
			<h3>qui·e·tude</h3>
		</div></li>
	<li><span>Image 03</span>
		<div>
			<h3>bal·ance</h3>
		</div></li>
	<li><span>Image 04</span>
		<div>
			<h3>e·qua·nim·i·ty</h3>
		</div></li>
	<li><span>Image 05</span>
		<div>
			<h3>com·po·sure</h3>
		</div></li>
	<li><span>Image 06</span>
		<div>
			<h3>se·ren·i·ty</h3>
		</div></li>
</ul>
					<!-- /padding -->
					<div class="padding">
						<!-- body content here -->
						<!-- /body content here -->
					</div>
					<!-- /padding -->
				</div>
				<!-- /main -->
			</div>
		</div>
	</div>
	<!-- /.container -->

	

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
<script>
	$(function() {
    	$("#login-submit").click(function(){
    		var loginForm = $("#login-form").serializeArray();
    		console.log(loginForm);
    		//console.log($("#newPostForm").serializeArray());
     		$.post( "/lytra/login", loginForm, function( data ) {
     			location.reload(); 
			});
    		 
    	});
	});
</script>
</html>
