

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* custom template */
html, body {
	padding-top:50px;
   	height: 100%;
   	font-family:'Open Sans',arial,sans-serif;
   	background-color:black;
}

a {
  color:#222222;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0; /* increase for footer use */
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  /*   background-image:url('http://s.bootply.com/assets/example/bg_suburb.jpg'); */
  	background-color:black;
    background-size:cover;
    background-attachment:fixed;
}

.divider {
	margin-top:32px;
}

#main {
    background-color:#fefefe;
}
#main .img-circle {
  margin-top:18px;
  height:70px;
  width:70px;
}
#sidebar {
	padding-top:80px; 
	z-index:1000;
	background-color:black;
}
#sidebar, #sidebar a {
    color:#ffffff;
    /* background-color:transparent; */
	text-shadow:1px 0 1px #888888;
}
#sidebar a.logo {
  display:block;
  padding:3px;
  background-color:#fff;
  color:#777777;
  height:40px;
  width:40px;
  margin:15px;
  font-size:26px;
  font-weight:700;
  text-align:center;
  text-decoration:none;
  text-shadow:0 0 0;
}
#sidebar-footer {
  position:absolute;bottom:5px;
}
#footer {
  margin-bottom:20px;
}

/* center and adjust the sidebar contents on smaller devices */
@media (max-width: 768px) {
  #sidebar,#sidebar a.logo {
    text-align:center;
    margin:0 auto;
    margin-top:30px;
    font-size:26px;
  }
  #sidebar a.logo {
    font-size:50px;
    height:75px;
    width:75px;
    margin-bottom:30px;
  } 
}




/* bootstrap overrides */

h1,h2,h3 {
   font-weight:800;
   font-family:'Open Sans',arial,sans-serif;
}

.jumbotron {
  background-color:transparent;
}
.label-default {
  background-color:#dddddd;
}
.page-header {
  margin-top: 55px;
  padding-top: 9px;
  border-top:1px solid #eeeeee;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:2px;
}

.col-sm-9.full {
    width: 100%;
}

small.text-muted {
  font-family:courier,courier-new,monospace;
}




.body-min{
	min-width: 1200px;	
}
.weddingBackground{
	background-image:url('../img/alpha/wedding_bg.jpg');
  	background-repeat:no-repeat;
  	background-size: 100% auto;
}
.lytra-cup{
	max-width:260px;
	padding-bottom:20px;
	margin-left:15px;
}
.logo{
	max-width:260px;
	position: absolute;
	bottom: 100px;
	margin-left: 15px;
}
.logo_placeholder{
	max-width:260px;
}

.sidebar{
	/* padding-left: 20px;
	padding-right: 20px;
	padding-top: 50px;
	width: 300px;
	height: auto !important; ie6 ignores !important, so this will be overridden below
    min-height: 100%; ie6 ignores min-height completely
    height: 100%; */
    position:absolute;
    left:0;
    width:300px;
    height:94%;
    background-color:pink;
    padding-top: 10px;
    padding-left: 20px;
	padding-right: 20px;
}
.number{
	font-size: x-large;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}
.socialMediaButtonGeneral{
	max-width: 40px;
	margin-right: 10px;
}
.socialMediaButtonLinkedIn{
	max-width: 48px;
	margin-right: 10px;
}
.containerCenter{
	padding-top: 100px;
    height:100%;
    /* margin: 0 300px; */
    margin-left: 320px;
    margin-right: 320px;
    
}
.opaque{ opacity:1; }
.opaqueOff{ opacity: 0.80;}
.black { background-color: black; }
.green { background-color: #B8FF70; }
.pink  { background-color: #FFC2D6; }
.bannermobile{
	display:none; 
}
.construction{
	background-image:url('../img/bannerwinfo.jpg');
	background-size:100%;
	background-repeat: no-repeat;
	min-height: 692px;
}



.footerNav{
/* 	position: absolute;
	bottom: 0;
	right: 0; */
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 100px;
	
	position:absolute;
    right:250px;
    top:0;
    width:50px;
    height:100%;
    
}
.footerNavButton{
	margin-right: 25px;
	margin-bottom: 25px;
	color: white;
	width: 100px;
	height: 100px;
	
   -moz-box-sizing:    border-bottom;
   -webkit-box-sizing: border-bottom;
    box-sizing:        border-bottom;
    border-style:solid;
	border-color:white;
	border-left-width: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
}
.footerNavButtonText{
	margin-left: 5px;
	font-size: x-large;
	position: relative;
	bottom: -60px;
	cursor: pointer;
}

.navbarMod{
	height: 200px;
	width: 100%;
	background-color: pink;
	padding-top: 75px;
	
}
.navbar-inverse-pink {
    background-image: linear-gradient(to bottom, #3C3C3C 0px, pink 100%);
    background-repeat: repeat-x;
}
.logoNav{
	
	max-width: 200px;
	
}
.contentBody{
	 margin-top: 25px; 
	/* background-color: red;
 	border-style:solid;
	border-color:green; */
	height: auto !important; /* ie6 ignores !important, so this will be overridden below */
    
	/* Firefox */
	min-height: -moz-calc(100% - 225px);
	/* WebKit */
	min-height: -webkit-calc(100% - 225px);
	/* Opera */
	min-height: -o-calc(100% - 225px);
	/* Standard */
	min-height: calc(100% - 225px);
}
.full{
	height: auto !important; /* ie6 ignores !important, so this will be overridden below */
    min-height: 100%; /* ie6 ignores min-height completely */
    height: 100%;
}
/* UTILITIES ------------------------------------------------------- */
.left{
	float: left;
}
.right{
	float: right;
}

.clear:before, .clear:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}
	
.clear:after {
	clear: both;
}

